PORT=5000
MONGODB_URI=mongodb+srv://gideonabel87_db_user:finCa@finca.kbzaivb.mongodb.net/?appName=finCa
JWT_SECRET=your_jwt_secret_here

# Google OAuth (optional)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
